<style type="text/css">
    .login-btn{
      background-color: black;
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 6px 4px 8px 4px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      border-radius: 2px;
  }
  .login-btn:hover{
    background-color: darkgray;
  }
  .signup{
    color: black;
    text-decoration: none;
  }
</style>
<menu>
<div class="login">
  <p id="alert"><%= alert %></p>
  <%= image_tag('/images/cat.png', style:"margin-right: 10px;", height:"50", width:"50") %>
  <%= image_tag('/images/dog.png', style:"margin-right: 10px;", height:"50", width:"50") %>
  <h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%= label_tag :username %><br>
    <%= text_field_tag :username ,nil,:required => true%>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password ,nil,:required => true%>
  </div>
  <div class="actions">
    <%= submit_tag "Login" ,class:"login-btn"%>
    <%= link_to "Sign Up?", signup_path,class:"signup" %>

  </div>
<% end %>
</div>
</menu>