
<style type="text/css">
  .field{
    margin: 10px 15px;
  }
  .input{
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .image{
    border-width: 5px;
    border-color: black;
  }
</style>
<center>
<main>
  <% if user.errors.any? %>
    <div id="error_explanation" style="color: red">
      <% user.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>
<%= form_with(model: user, local: true) do |form| %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username ,required: true,class:"input" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password,required: true,class:"input" %>
  </div>

  <!-- <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation,required: true,class:"input" %>
  </div> -->

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname,required: true,class:"input" %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname,required: true,class:"input" %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone,required: true,class:"input" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn-submit"%>
    <%= submit_tag "Clear form", :class => 'btn-clear', :type => 'reset'%>
  </div>
<% end %>
  <%= button_to "Back", root_path,:method => :get ,:class=>"btn-back"%>
</main>
</center>
