<style type="text/css">
  .edit-btn{
    background-color: #ffdb4d;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .edit-btn:hover{
    background-color: #ff8b1b;
  }
  .logout-btn:hover{
    background-color: #ff0001;
  }
  .logout-btn{
    background-color: #ff8b86;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .mypost-btn{
    background-color: #58D68D;
    border: none;
    color: black;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 25px;
    margin-top:4px;
    margin-bottom:4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .mypost-btn:hover{
    background-color: #07994d;
  }
  p{
    font-size: 18px;
  }



</style>
<menu>
  <div class="login">
    <h1>- My Profile -</h1>
    <p>
      <label>Username:</label>
      <%= current_user.username %>
    </p>

    <p>
      <label>Firstname:</label>
      <%= current_user.firstname %>
    </p>

    <p>
      <label>Lastname:</label>
      <%= current_user.lastname %>
    </p>

    <p>
      <label>Phone:</label>
      <%= current_user.phone %>
    </p>
    <span>

<div style="float: left;">
    <%= button_to "Edit Profile", edit_user_path(current_user),class:"edit-btn",:method => :get %>
    </div>
    <div style="float: right;">
<%= button_to "My Post", mypost_path,class:"mypost-btn",:method => :get %>
</div>
      <center><%= button_to "Log Out", logout_path,class:"logout-btn",:method => :get %><br></center>
</span>
  </div>
</menu>