<main>
	<div class="typePost" align="center">
		<span class="dot1"></span>
		<span> LOST </span>
		<span class="dot2"></span>
		<span> FIND </span>
		<span class="dot3"></span>
		<span> FOUND </span>
	</div>
	<%= render 'posts/index'%>
</main>
