<style type="text/css">
	.form-post{
		margin: auto;
  		width: 50%;
  		padding: 10px;
	}
</style>
<main>
  <center><h1>Editing Post</h1></center>

<%= render 'form', post: @post %>

</main>
