<style type="text/css">
.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  text-decoration: none;
  margin-left: 50px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}
.edit-delete{
  float: right;
  padding: 5px;
}
</style>

<main>
<div class="typePost" align="center">
    <span class="dot1"></span>
    <span> LOST </span>
    <span class="dot2"></span>
    <span> FIND </span>
    <span class="dot3"></span>
    <span> FOUND </span>
</div>
<h1  align="center">Search Result</h1>  
<div class= "post-btn">
  <% if current_user %>
    <%= link_to "Add New Post", new_post_path ,class:" btn info" %>
  <% end %>
</div>
<p id="notice"><%= notice %></p>
<% @results.each do |result| %>  
    <div class="card-<%= result.catagory %>" >
    <img class ="img-post-<%= result.catagory %>"style="margin: 15px; width: 200px;" <%= image_tag(result.cover_picture) if result.cover_picture.attached? %>
    <div class="post-<%= result.catagory %>">
      <div class="edit-delete">
        <% if current_user %>
      <% if current_user.username == result.username %>
        <%= link_to image_tag('/images/edit.png'), edit_post_path(result) %>
        <%= link_to image_tag('/images/delete.png',width:"30px",height:"30px"), result, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
       <% end %>
      </div>
      <p class="post-name-<%= result.catagory %>">ชื่อโพสต์: <%= result.title %></p>
      <p class = "detail-<%= result.catagory %>" style="font-size: 16px"><%= result.content %>
      </p>
    </div>      
    <div class = "<%= result.catagory %>">
      <p>ผู้โพสต์ : <%= result.username %></p>
      <% @user_phone = User.where("username = ? ", result.username).take %>
      <p>เบอร์โทร : <%= @user_phone.phone %></p>
      <p>โพสต์เมื่อ : <%= result.updated_at %></p>
    </div>
  </div>
<% end %>
</main>