<main class="about">
      <div class="teammember">
      <img style="margin: 10px 10px 0px 10px" src="/images/teamwork.png" height="40px" width="40px">
      <a style="font-size: 40px">Team Member:</a><br>
        <div style="padding: 20px 0px 20px 50px">
            1. นางสาว กัญญารัตน์    เนียมปาน   5910613263<br>
            2. นางสาว ศุภสิริ        คงเพ็ชรศักดิ์  5910680346<br>
            3. นางสาว สุนทรา       แข็งธัญการ  5910680353
        </div>
      </div>
      <div class="proposal" style="padding-bottom: 20px">
        <img style="margin: 10px 10px 0px 10px" src="/images/approval.png" height="40px" width="40px"> 
        <a style="font-size: 40px; padding-right: 20px">File Proposal:</a>
        <a style="font-size: 30px" href ="https://drive.google.com/file/d/1v8yzVVxVETP2vcmSO01i7Z3gbMzji_qd/view?usp=sharing">คลิกที่นี่</a> 
      </div>
      <div class = "userstory">
      <img style="margin: 10px 10px 0px 10px" src="/images/story.png" height="40px" width="40px"> 
        <a style="font-size: 40px; padding-right: 20px">User Story</a><br>
      <img id="myImg" style="padding: 20px 0px 20px 50px" src = "/images/UserStoryVer2.png"/ width="600px">
      </div>
      <div class = "gitlab">
        <img style="margin: 10px 10px 0px 10px" src="/images/repository.png" height="40px" width="40px"> 
        <a style="font-size: 40px; padding-right: 20px">Git Lab:</a>
        <a href ="https://gitlab.com/5910680346/lostfindfound_cat_dog.git" target="_blank">Links to git repository</a>
      </div>
      <div class = "pivotaltracker">
        <img style="margin: 10px 10px 0px 10px" src="/images/complete.png" height="40px" width="40px"> 
        <a style="font-size: 40px; padding-right: 20px">Pivotal Tracker:</a>
        <a href ="https://www.pivotaltracker.com/n/projects/2411867" target="_blank">Links to pivotal tracker</a>
      </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
</main>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>