<head>
  <title>Lost Find Found Cat & Dog </title>
  <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="grid-container">
    <header>
        <img style="width: 100%;" src="/images/Banner.gif" height="270px;">
        <div class="tab" style="float: right;">
            <%= link_to root_path, class:"btnTap" do %>
                <%= image_tag('/images/home-icon-silhouette.png', style:"margin-right: 10px;", height:"20", width:"20") %>HOME
            <% end %>
            <%= link_to lost_path, class:"btnTap" do %>
                <%= image_tag('/images/wanted.png', style:"margin-right: 10px;", height:"20", width:"20") %>LOST
            <% end %>
            <%= link_to find_path, class:"btnTap" do %>
                <%= image_tag('/images/find.png', style:"margin-right: 10px;", height:"20", width:"20") %>FIND
            <% end %>
            <%= link_to found_path, class:"btnTap" do %>
                <%= image_tag('/images/pawprint.png', style:"margin-right: 10px;", height:"20", width:"20") %>FOUND
            <% end %>
            <%= link_to about_path, class:"btnTap" do %>
                <%= image_tag('/images/information.png', style:"margin-right: 10px;", height:"20", width:"20") %>ABOUT
            <% end %>
        </div>
    </header>
